<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form [formGroup]="loginForm" (submit)="login()">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              name="email"
              class="form-control"
              placeholder="name@example.com"
            />
            <span
              [hidden]="loginForm.get('email')?.valid"
              class="text-danger fst-italic"
            >
              Required email
            </span>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              name="password"
              class="form-control"
              placeholder="********"
            />
            <span
              [hidden]="loginForm.get('password')?.valid"
              class="text-danger fst-italic"
            >
              Required password with minimum 8 characters
            </span>
          </div>
          <div class="d-grid gap-2">
            <button
              [disabled]="loginForm.invalid"
              type="submit"
              class="btn btn-primary"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
